/**
 * index.scss
 * - Add any stywant here!
 */
body{
  font-family: 'proxima-nova', sans-serif;
  background-image: url("/images/pfx-background.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
}
h1,h2{
  font-family: industry-inc-base, sans-serif;
}

button{
  background-color: #FFC425;
  border-style: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: industry-inc-base, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}



#video-container{
  height: 60vh;
  margin-bottom: 4%;
}
#pfx-video{
  width: 80%;
  height: 100%;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#button-container{
}

#info{
  
  height: 90vh;
  
}

#modal-box-one{
  
  height: 100%;
}

@media (min-width: 1200px) {
   .modal-xl {
      width: 90%; 
   }
}
.modal-dialog{
  width: 300%;
  padding: 3%;
  background-color: #FFC425;
} 

.modal-content{
  background-color: #FFC425;
} 

.modal-lg{
  width: 100%;
}
#top-nav{
  background-color: #ffffff;
  border-bottom-style: solid;
  border-width: thick;
  border-color: #FFC425;
}

.navbar-light, .border-bottom, .navbar-expand-sm, .navbar-default{
  background-color: #ffffff;
  border-bottom-style: solid !important ;
  border-width: thick !important  ;
  border-color: #FFC425 !important  ;
  margin-bottom: 1%;
}

.carousel-item {
	height: 100%;
}

#iframe-container{
  position: relative;
  width: 100%;
  height: 90%;
  margin-bottom: 30%;
  

}

.iframe-row{
  ;
}

.iframe-col{

}

.responsive-iframe{
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height:200%;
  border-style: double;
  border-radius: 5px;
 
 
  
}

/**
SLIDER START
**/

.slidecontainer {
  width: 100%; /* Width of the outside container */ 
  height: 80%;
  background-color: white;
  border-radius: 10px;
  padding-top: 10%;
  padding-bottom: 10%;
  align-content: center;
  
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 43.393px;
  background: #4CAF50;
  cursor: pointer;
  background: url(/images/Airfoil.svg);
  background-repeat: no-repeat;
  background-size: cover;

}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  background: url(/images/Airfoil.svg);
  background-repeat: no-repeat;
  background-size: cover;}
  
  input[type="range"]::-moz-range-progress {
  background-color: #43e5f7; 
}
/**
SLIDER END
**/


#footer {
    position: fixed;
    bottom: 0;
    height: 5vh;
    margin: 0 auto;
    background-color: #FFC425;
}
